@model IEnumerable<MRT_Demo.Models.Indicator>

@{
    ViewBag.Title = "Index";
}

<h2>ข้อมูลตัวชี้วัดที่สำคัญขององค์กร</h2>
<br />
@using (Html.BeginForm("Index","Indicators",FormMethod.Get, new { @class = "form-horizontal", id = "IndexForm", name = "IndexForm" }))
{
    <div class="row">
        <div class="col-md-1 text-end">
            @Html.DisplayName("หน่วยงาน : ")
        </div>
        <div class="col-md-4">
            @Html.DropDownList("Division", new SelectList(ViewBag.DivisionBag, "Value", "Text"),"All", new { @class = "form-select" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <span class="col-md-12 form-control-plaintext text-end">ชื่อตัวชี้วัด : </span>
        </div>
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-4">
                    @Html.Editor("Indicator", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3 text-end">
                    @Html.DisplayName("สถานะของตัวชี้วัด : ")
                </div>
                <div class="col-md-5 text-end">
                    @Html.DropDownList("IndicatorDetailStatusID", new SelectList(ViewBag.SelectListStatus, "Value", "Text"),"All",new { @class = "form-select" })
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <input value="ค้นหา" class="btn btn-outline-dark col-md-3" type="submit"/> &nbsp;
            @*@Html.ActionLink("ค้นหา", "Index", new { Division =  }, new { @Class = " btn btn-outline-secondary col-md-3" })*@
            @Html.ActionLink("เพิ่ม", "Create", "", new { @Class = " btn btn-primary col-md-3" }) &nbsp;
            @Html.ActionLink("ถังขยะ", "RecycleBin", "", new { @Class = " btn btn-secondary col-md-3" })
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indicator1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndicatorOwners)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayName("จัดการ")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indicator1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndicatorOwnersText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActiveText)
            </td>
            <td>
                @Html.ActionLink("แก้ไข", "Edit", new { id = item.ID }) |
                @Html.ActionLink("ลบ", "DeleteConfirmed", new { id = item.ID })
            </td>
        </tr>
    }

</table>
