@model IEnumerable<MRT_Demo.Models.Indicator>

<h2>กล่องขยะข้อมูลตัวชี้วัดที่สำคัญขององค์กร</h2>
<br />
<br />
@using (Html.BeginForm("RecycleBin","Indicators",FormMethod.Get, new { @class = "form-horizontal", id = "IndexForm", name = "IndexForm" }))
{
    <div class="row">
        <div class="col-md-1 text-end">
            @Html.DisplayName("หน่วยงาน : ")
        </div>
        <div class="col-md-4">
            @Html.DropDownList("Division", new SelectList(ViewBag.DivisionBag, "Value", "Text"),"All", new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <span class="col-md-12 form-control-plaintext text-end">ชื่อตัวชี้วัด : </span>
        </div>
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-7">
                    @Html.Editor("Indicator", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-5">    
                </div>
            </div>

        </div>
        <div class="offset-md-2 col-md-1">
            <input value="ค้นหา" class="btn btn-outline-secondary col-md-12" type="submit"/> &nbsp;
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indicator1)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IndicatorOwners)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayName("จัดการ")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indicator1)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.IndicatorOwners)*@
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("คืนค่า", "Revert", new { id = item.ID }) |
                @Html.ActionLink("ลบ", "DeleteLast", new { id = item.ID })
            </td>
        </tr>
    }

</table>

