@model MRT_Demo.Models.ForecastPeriodResultRemark
@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.ForecastPeriodID)
@Html.HiddenFor(m => m.CreateDate)
@Html.HiddenFor(m => m.UpdateDate)
@Html.HiddenFor(m => m.CreateBy)
@Html.HiddenFor(m => m.UpdateBy)
@Html.HiddenFor(m => m.IsDelete)
@Html.HiddenFor(m => m.IsLastDelete)

<div class="form">
    <span>1.</span>
    @Html.DisplayName(" แผนงาน /  โครงการ / การดำเนินงานสำคัญ ที่ช่วยปรับปรุงการดำเนินงานของตัวชี้วัดนี้ยกมาเฉพาะที่สำคัญ กรุณาให้รายละเอียดถึงกิจกรรมนั้นพอสังเขป เช่น ดำเนินการอะไร มีผลตัวชี้วัดอย่างไร เป็นต้น")<br />
    @Html.EditorFor(m => m.HelpImproveIndicator, new { HtmlAttributes = new { @class = "form-control" } })
    <br />
    <span>2.</span>
    @Html.DisplayName(" การดำเนินงานตามแผนงาน / โครงการ / กิจกรรมดังกล่าว เป็นไปด้วยดี หรือไม่")<br />
    @Html.DisplayName("  ๐ มีปัญหาอุปสรรคอะไรในโครงการ / แผนงานดังกล่าว (ระบุเฉพาะปัญหาสำคัญถ้ามี)")<br />
    @Html.DisplayName("  ๐ การแก้ไขปัญหาดังกล่าวดำเนินการอย่างไร")<br />
    @Html.EditorFor(m => m.ProblemAndCorrection, new { HtmlAttributes = new { @class = "form-control" } })
    <br />
    <span>3.</span>
    @Html.DisplayName(" ในปีที่ดำเนินการประเมิน นอกเหนือจากการดำเนินงานตามแผนงาน/ กิจกรรมดังกล่าวแล้ว มีปัจจัย/เหตุการณ์สำคัญทั้งภายนอกและภายในที่มีผลต่อการดำเนินงานของตัวชี้วัด")<br />
    @Html.EditorFor(m => m.ImprotantFactorsAndEvents, new { HtmlAttributes = new { @class = "form-control" } })
    <br />

    <span>4.</span>
    @Html.DisplayName(" ข้อมูลประกอบและเอกสารเพิ่มเติมอื่นๆ (ส่ง soft file)")<br />
    @Html.TextBoxFor(m=>m.ListFileA, "", new { type = "file", @multiple = "multiple" }) <br />
    <br />

    @Html.DisplayNameFor(m => m.ReasonForToolChange)<br />
    @Html.EditorFor(m => m.ReasonForToolChange, new { HtmlAttributes = new { @class = "form-control" } })
    <br />

    <span>6.</span>
    @Html.DisplayName(" ณ (งวดที่คาดการณ์) หากค่าคาดการณ์ผลการดําเนินงาน ณ สิ้นปีงบประมาณ ในคอลัมน์ค่าคาดการณ์ผลดำเนินงานจริงไม่เป็นไปตามเป้าหมายหรือต่ำกว่าระดับ RT")
    @Html.DisplayName(" ท่านดําเนินการอย่างไรเพื่อให้มีความสําเร็จตามเป้าหมายที่กําหนดไว้(หากคาดการณ์ไม่ได้ตามเป้าหมายต้องตอบข้อนี้)")<br />
    @Html.CheckBoxFor(m => m.IsAnalysisResults)
    @Html.DisplayNameFor(m => m.IsAnalysisResults)<br />
    @Html.EditorFor(m => m.AnalysisResults, new { HtmlAttributes = new { @class = "form-control" } })
    @Html.TextBoxFor(m=>m.ListFileB, "", new { type = "file", @multiple = "multiple" }) <br />
    <br />

    @Html.CheckBoxFor(m => m.IsChangeActionPlan)
    @Html.DisplayNameFor(m => m.IsChangeActionPlan)<br />
    @Html.EditorFor(m => m.ChangeActionPlan, new { HtmlAttributes = new { @class = "form-control" } })
    @Html.TextBoxFor(m=>m.ListFileC, "", new { type = "file", @multiple = "multiple" }) <br />
    <br />

    @Html.CheckBoxFor(m => m.IsChangeOperation)
    @Html.DisplayNameFor(m => m.IsChangeOperation)<br />
    @Html.EditorFor(m => m.ChangeOperation, new { HtmlAttributes = new { @class = "form-control" } })
    <br />

    @Html.CheckBoxFor(m => m.IsOther)
    @Html.DisplayNameFor(m => m.IsOther)<br />
    @Html.EditorFor(m => m.Other, new { HtmlAttributes = new { @class = "form-control" } })
    <br />
    <br />

</div>
