@model MRT_Demo.Models.ImportantIndicatorTargetMeasurement
@{
    var i = 0;
}

@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.CreateDate)
@Html.HiddenFor(m => m.UpdateDate)
@Html.HiddenFor(m => m.IndicatorLevel)
@Html.HiddenFor(m => m.IndicatorID)
@Html.HiddenFor(m => m.IsDelete)
@Html.HiddenFor(m => m.IsLastDelete)
@Html.HiddenFor(m => m.level)


@if (Model.level >= 3)
{
    <td>
        @Html.DropDownListFor(m => m.IndicatorTypeID, new SelectList(Model.Indicator.IndicatorXIndicatorTypes.Select(h => new SelectListItem { Value = h.IndicatorTypeID.ToString(), Text = h.Definition }), "Value", "Text", Model.IndicatorTypeID), "Please Select", new { @class = "form-control", disabled = "disabled" })
    </td>
}

<td class="w-25">
    @Html.DropDownListFor(m => m.IndicatorUnitID, new SelectList(ViewBag.Xunit, "Value", "Text", Model.IndicatorUnitID), "Please Select", new { @class = "form-control", disabled = "disabled" })
</td>

@foreach (var item in Model.SubTarget)
{
    <td>
        @Html.EditorFor(m => item, "SubTargetDisabled", "SubTargetDisabled[" + i++ + "]")
    </td>
}


