@model MRT_Demo.Models.ImportantIndicatorResultMeasurement

@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.IndicatorID)
@Html.HiddenFor(m => m.Isdelete)
@Html.HiddenFor(m => m.IsLastDelete)
@Html.HiddenFor(m => m.CreateDate)
@Html.HiddenFor(m => m.UpdateDate)
@Html.HiddenFor(m => m.CreateBy)
@Html.HiddenFor(m => m.UpdateBy)
@Html.Hidden("IndexInList")

@{
    List<MRT_Demo.Models.PeriodMonthOrQuaterOrYear> MQY = new List<MRT_Demo.Models.PeriodMonthOrQuaterOrYear>();
    MQY = ViewBag.MQY;
}
<div class="row">
    <div class="offset-md-2 col-md-1 text-end"> @Html.DisplayName("ความถี่ : ")</div>
    @if (MQY != null)
    {
        foreach (var item in MQY)
        {
            <span class="col-md-2">
                @Html.RadioButtonFor(m => m.PeriodMonthOrQuaterOrYearID, item.ID, new { onchange = "FuncChangePeriod()" })
                @Html.DisplayFor(m => item.Period)
            </span>
        }
    }

</div>




<br />
<div id="Month" style="display:@(Model.PeriodMonthOrQuaterOrYearID==1?"block":"none");">
    <div class="row">
        <div class="offset-md-3 col-md-9">
            <input value="ต.ค." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(0)" />
            <input value="พ.ย." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(1)" />
            <input value="ธ.ค." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(2)" />
            <input value="ม.ค." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(3)" />
            <input value="ก.พ." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(4)" />
            <input value="มี.ค." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(5)" />
            <input value="เม.ย." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(6)" />
            <input value="พ.ค." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(7)" />
            <input value="มิ.ย." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(8)" />
            <input value="ก.ค." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(9)" />
            <input value="ส.ค." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(10)" />
            <input value="ก.ย." class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(11)" />
        </div>
    </div>
    <br />
</div>
<div id="Quater" style="display:@(Model.PeriodMonthOrQuaterOrYearID==2?"block":"none");">
    <div class="row">
        <div class="offset-md-3 col-md-9">
            <input value="ไตรมาส 1" class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(12)" />
            <input value="ไตรมาส 2" class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(13)" />
            <input value="ไตรมาส 3" class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(14)" />
            <input value="ไตรมาส 4" class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(15)" />
        </div>
    </div>
    <br />
</div>
<div id="Year" style="display:@(Model.PeriodMonthOrQuaterOrYearID==3?"block":"none");">
    <div class="row">
        <div class="offset-md-3 col-md-9">
            <input value="ครึ่งปี" class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(16)" />
            <input value="สิ้นปี" class="btn btn-outline-secondary" type="button" onclick="FuncChangeMonthQuarterHailfYear(17)" />
        </div>
    </div>
    <br />
</div>

<div class="row">
    <div class="offset-md-1 col-md-2 text-end">@Html.DisplayName("งวดการคาดการณ์ : ")</div>
    <div class="col-md-8">

        @Html.EditorFor(m => m.ForecastPeriod)

    </div>
</div>

