@model MRT_Demo.Models.SOEPlanIndicator
@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.GoalID)
@Html.HiddenFor(m => m.IsLastDelete)
@Html.HiddenFor(m => m.IsDelete)
@Html.HiddenFor(m => m.CreateDate)
@Html.HiddenFor(m => m.UpdateDate)
@Html.HiddenFor(m => m.CreateBy)
@Html.HiddenFor(m => m.UpdateBy)
@Html.HiddenFor(m => m.No)
@Html.HiddenFor(m => m.IsChange)
@Html.HiddenFor(m => m.IndicatorBag)
@Html.HiddenFor(m => m.IndicatorUnitBag)


@{ 
    var IndicatorBag = Model.IndicatorBag;
    var IndicatorUnitBag = Model.IndicatorUnitBag;
}
@if (Model.IsDelete != true)
{
    <tr>
        <td>
            @Html.DropDownListFor(m => m.IndicatorID, new SelectList(IndicatorBag, "Value", "Text", Model.IndicatorID),"Select", new { onchange = "FuncOnChangeIndicator("+Html.IdFor(m=>m.IsChange)+")"})
        </td>
        <td>
            @Html.DropDownListFor(m => m.IndicatorUnitID, new SelectList(IndicatorUnitBag, "Value", "Text", Model.IndicatorUnitID),"Select", new { onchange = "FuncOnChangeIndicator("+Html.IdFor(m=>m.IsChange)+")"})
        </td>
        <td>
            <input value="ลบ" class="btn btn-danger" type="button" onclick="FuncDelSOEPlanIndicator(@Html.IdFor(m=>m.IsDelete))" />
        </td>
    </tr>
}

