@model MRT_Demo.Models.Stategy


@{
    ViewBag.Title = "Create";
}

<h2>จัดการยุทธศาสตร์ตามแผนวิสาหกิจ</h2>


@using (Html.BeginForm("Create", "Stategies", FormMethod.Post, new { @class = "form-horizontal", id = "stategyform", name = "stategyform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)

    <br />
    <div class="form-horizontal">
        <hr />
        @Html.EditorFor(m => m)

        <br />
        <div class="row">
            <div class="col-sm-2"></div>
            @Html.ActionLink("ย้อนกลับ", "Index", "Stategies", new { id = Model.StrategicObjectiveID }, new { @class = "btn btn-secondary col-md-1" })
            <div class="col-sm-1"></div>
            <input type="submit" value="เพิ่ม" class="btn  col-md-2 btn-success" />
        </div>

    </div>
}
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function funcAddTactic(e) {
        e.value = true;
        $("#stategyform").attr("action", '@Url.Action("AddTactic","Stategies")');
        $("#stategyform").submit();
    }
    function funcDelTactic(e) {
        e.value = true;
        $("#stategyform").attr("action", '@Url.Action("DelTactic","Stategies")');
        $("#stategyform").submit();
    }
</script>
