@model MRT_Demo.Models.Stategy

@{
    ViewBag.Title = "Edit";
}

<h2>แก้ไขยุทธศาสตร์ (Strategies)</h2>


@using (Html.BeginForm("Edit", "Stategies", FormMethod.Post, new { @class = "form-horizontal", id = "stategyform", name = "stategyform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)

    <br />
    <div class="form-horizontal">
        <hr />
        @Html.EditorFor(m => m)

        <div class="row">
            <div class="col-sm-2"></div>
            @Html.ActionLink("ย้อนกลับ", "Index", "Stategies", new { id = Model.StrategicObjectiveID }, new { @class = "btn btn-secondary col-md-1" })
            <div class="col-sm-1"></div>
            <input type="submit" value="บันทึก" class="btn  col-md-2 btn-success" />
        </div>

    </div>
}
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function funcAddTactic(e) {
        e.value = true;
        $("#stategyform").attr("action", '@Url.Action("AddTacticEdit","Stategies")');
        $("#stategyform").submit();
    }
    function funcDelTactic(e) {
        e.value = true;
        $("#stategyform").attr("action", '@Url.Action("DelTacticEdit","Stategies")');
        $("#stategyform").submit();
    }
</script>

