@model MRT_Demo.Models.StrategicObjective
@Html.HiddenFor(m => m.ID)

@{
    ViewBag.Title = "Stategy List";
}

<h2>จัดการยุทธศาสตร์ตามแผนวิสาหกิจ</h2>
<br />

<div class="row ">
    @Html.DisplayName("วัตถุประสงค์เชิงยุทธศาสตร์ (Strategic Objectives) : ")
    @Html.DisplayFor(m => m.StrategicObjective1)
</div>
<br />


<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("ย้อนกลับ", "Index", "StrategicObjectives", new { id = Model.SEOPlanID }, new { @class = "btn btn-secondary" })
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-4">
        @Html.ActionLink("เพิ่ม", "Create", "Stategies", new { Model.ID }, new { @class = "btn btn-primary col-md-2" })
        @Html.ActionLink("กล่องขยะ", "RecycleBin", "Stategies", new { strategicID = Model.ID }, new { @class = "btn btn-secondary col-md-3" })
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stategies.First().UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stategies.First().Stategy1)
        </th>
        <th>
            @Html.DisplayName("การจัดการ")
        </th>
    </tr>

    @foreach (var item in Model.Stategies)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stategy1)
            </td>
            <td>
                @Html.ActionLink("แก้ไข", "Edit", new { id = item.ID }) |
                @Html.ActionLink("ลบ", "DeleteConfirmed", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
<br />
<br />

