@model MRT_Demo.Models.Indicator

@{
    ViewBag.Title = "Target";
}

<h2>เป้าตัวชี้วัด</h2>

@using (Html.BeginForm("Target", "IndicatorTargetAndResults", FormMethod.Post, new { @class = "form-horizontal", id = "Targetform", name = "Targetform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.IsActive)
    @Html.HiddenFor(m => m.isActiveText)
    @Html.HiddenFor(m => m.CreateBy)
    @Html.HiddenFor(m => m.UpdateBy)
    @Html.HiddenFor(m => m.CreateDate)
    @Html.HiddenFor(m => m.UpdateDate)
    @Html.HiddenFor(m => m.IsDelete)
    @Html.HiddenFor(m => m.IsLastDelete)
    @Html.HiddenFor(m => m.Formula)
    @Html.HiddenFor(m => m.Indicator1)
    @Html.HiddenFor(m => m.IndicatorDetailStatusID)

    <div hidden>
        @Html.EditorFor(m => m.IndicatorUnits)
        @Html.EditorFor(m => m.IndicatorXIndicatorTypes)
        @Html.EditorFor(m => m.ImportantIndicatorResultMeasurement)
    </div>

    <div class="form-horizontal">
        <hr />
        <div class="row">
            <div class=" col-md-3 text-end">
                @Html.DisplayName("ปีงบประมาณ :")
            </div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.indicatorYear, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="row">
            <div class=" col-md-3 text-end">
                @Html.DisplayName("ชื่อตัวชี้วัด :")
            </div>
            <div class="col-md-9">
                @Html.EditorFor(m => m.Indicator1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Indicator1, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="row offset-md-10 col-md-1">
            <input class="btn btn-primary" type="submit" value="เพิ่ม" onclick="FuncAddindicatorOwner()" />
        </div>
        <div class="row">
            <div class="col-md-3 text-end">
                @Html.DisplayName("ส่วนงานทำการคาดการณ์ :")
            </div>
            <div class="col-md-8">
                <table class="table table-responsive-md">
                    <tr>
                        <th>
                            @Html.DisplayName("สังกัด")
                        </th>
                        <th>
                            @Html.DisplayName("จัดการ")
                        </th>
                    </tr>
                    @Html.EditorFor(m => m.IndicatorOwners)
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
        <hr />
        <div class="row offset-md-10 col-md-1">
            <input class="btn btn-primary" type="submit" value="เพิ่ม" onclick="FuncAddXType()" />
        </div>
        <br />
        <div class="row">
            <div class="col-md-3 text-end">
                @Html.DisplayName("ประเภทตัวชี้วัด :")
            </div>
            <div class="col-md-8">
                <table class="table table-bordered w-100">
                    <tr>
                        <th rowspan="2" class="text-center">
                            @Html.DisplayName("ชื่อหน่วยวัด")
                        </th>
                        <th rowspan="2" class="text-center">
                            @Html.DisplayName("หน่วยวัด")
                        </th>
                        <th colspan="5" class="text-center">
                            @Html.DisplayName("ค่าเป้าหมาย/เกณฑ์วัด")
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center">1</th>
                        <th class="text-center">2</th>
                        <th class="text-center">3</th>
                        <th class="text-center">4</th>
                        <th class="text-center">5</th>
                    </tr>
                    @{
                        var i = 0;
                    }
                    @foreach (var XType in Model.IndicatorXIndicatorTypes)
                    {
                        if (XType.level == 0)
                        {
                            <tr>
                                <td class="w-25">
                                    @Html.DisplayFor(m => XType.IndicatorType.IndicatorType1, new { HtmlAttributes = new { @class = "form-control" } })
                                </td>
                                @foreach (var item in Model.ImportantIndicatorTargetMeasurement.Where(b => b.SubTarget.Where(ba => ba.IndicatorTypeID == XType.IndicatorTypeID).Count() > 0))
                                {
                                    @Html.EditorFor(m => item, "ImportantIndicatorTargetMeasurement", "ImportantIndicatorTargetMeasurement[" + i++ + "]")
                                }
                            </tr>
                        }
                        else
                        {
                            <tr>
                                @foreach (var item in Model.ImportantIndicatorTargetMeasurement.Where(b => b.SubTarget.Where(ba => ba.level == XType.level).Count() > 0))
                                {
                                    @Html.EditorFor(m => item, "ImportantIndicatorTargetMeasurement", "ImportantIndicatorTargetMeasurement[" + i++ + "]")
                                }
                            </tr>
                        }

                    }
                </table>
            </div>

        </div>

        <div class="row">
            <div class="offset-md-3 col-md-1">
                <input value="บันทึก" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function FuncAddXType() {
        $("#Targetform").attr("action", '@Url.Action("AddXType", "IndicatorTargetAndResults")');
        $("#Targetform").submit();
    }
    function FuncAddindicatorOwner() {
        $("#Targetform").attr("action", '@Url.Action("AddIndicatorOwner","IndicatorTargetAndResults")');
        $("#Targetform").submit();
    }

</script>
