@model MRT_Demo.Models.SEOPlan

@{
    ViewBag.Title = "Create";
}

<h2>จัดการแผนวิสาหกิจ</h2>
<br />
<br />

@using (Html.BeginForm("Create", "SEOPlans", FormMethod.Post, new { @class = "form-horizontal", id = "SEOform", name = "SEOform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.CreateBy)
    @Html.HiddenFor(m => m.UpdateBy)
    @Html.HiddenFor(m => m.CreateDate)
    @Html.HiddenFor(m => m.UpdateDate)
    @Html.HiddenFor(m => m.IsDelete)
    @Html.HiddenFor(m => m.IsLastDelete)
    @*@Html.Hidden("SY")
        @Html.Hidden("EY")*@


    <div class="form-horizontal">
        <hr />
        <div class="row">
            <div class="col-md-2 text-end align-self-center">
                @Html.DisplayNameFor(m => m.StartYear):
            </div>
            <div class="col-md-2">
                @*@Html.LabelFor(model => model.StartYear, htmlAttributes: new { @class = "control-label" })*@
                @Html.DropDownListFor(m => m.StartYear, new SelectList(ViewBag.StartYear, "Value", "Text"), "Select Start Year", new { @class = "form-select", onchange = "funcSY();" })
                @Html.ValidationMessageFor(model => model.StartYear, "", new { @class = "text-danger" })
            </div>
            <div class="col-auto">
                @Html.DisplayName("ถึง")
            </div>
            <div class="col-md-2">
                @*@Html.LabelFor(model => model.EndYear, htmlAttributes: new { @class = "control-label" })*@
                @Html.DropDownListFor(m => m.EndYear, new SelectList(ViewBag.EndYear, "Value", "Text"), "Select End Year", new { @class = "form-select", onchange = "funcEY();" })
                @Html.ValidationMessageFor(model => model.EndYear, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        @Html.ActionLink("ย้อนกลับ", "Index", "SEOPlans", "", new { @class = "btn btn-secondary col-md-1 m-2" })
        <input type="submit" value="บันทึก" class="btn col-md-1 btn-success m-2" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
