@model MRT_Demo.Models.SEOPlan

@{
    ViewBag.Title = "Create";
}

<h2>จัดการแผนวิสาหกิจ</h2>


@using (Html.BeginForm("Create", "SEOPlans", FormMethod.Post, new { @class = "form-horizontal", id = "SEOform", name = "SEOform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.CreateBy)
    @Html.HiddenFor(m => m.UpdateBy)
    @Html.HiddenFor(m => m.CreateDate)
    @Html.HiddenFor(m => m.UpdateDate)
    @Html.HiddenFor(m => m.IsDelete)
    @Html.HiddenFor(m => m.IsLastDelete)
    @*@Html.Hidden("SY")
    @Html.Hidden("EY")*@


    <div class="form-horizontal">
        <h4>SEOPlan</h4>
        <hr />
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayNameFor(m=>m.StartYear)
            </div>
            <div class="form-group col-md-3">
                @*@Html.LabelFor(model => model.StartYear, htmlAttributes: new { @class = "control-label" })*@
                @Html.DropDownListFor(m =>m.StartYear, new SelectList(ViewBag.StartYear, "Value", "Text"), "Select Start Year", new { @class = "form-control", onchange = "funcSY();" })
                @Html.ValidationMessageFor(model => model.StartYear, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                @Html.DisplayName("ถึง")
            </div>
            <div class="form-group col-md-5">
                @*@Html.LabelFor(model => model.EndYear, htmlAttributes: new { @class = "control-label" })*@
                @Html.DropDownListFor(m=>m.EndYear, new SelectList(ViewBag.StartYear, "Value", "Text"), "Select End Year", new { @class = "form-control", onchange = "funcEY();" })
                @Html.ValidationMessageFor(model => model.EndYear, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col-sm-2"></div>
        @Html.ActionLink("ย้อนกลับ", "Index", "SEOPlans", "", new { @class = "btn btn-secondary col-md-1" })
        <div class="col-sm-1"></div>
        <input type="submit" value="เพิ่ม" class="btn  col-md-2 btn-success" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
