@model MRT_Demo.Models.SEOPlan

@{
    ViewBag.Title = "Edit";

    List<SelectListItem> EndYearBag = ViewBag.EndYear;
    foreach (var EndYearItem in EndYearBag)
    {
        if (Model.EndYear.ToString() == EndYearItem.Value)
        {
            EndYearItem.Selected = true;
        }
    }
    List<SelectListItem> StartYearBag = ViewBag.StartYear;
    foreach (var StartYearItem in StartYearBag)
    {
        if (Model.StartYear.ToString() == StartYearItem.Value)
        {
            StartYearItem.Selected = true;
        }
    }


}

<h2>แก้ไขแผนวิสาหกิจ</h2>
<br />
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.CreateBy)
    @Html.HiddenFor(m => m.UpdateBy)
    @Html.HiddenFor(m => m.CreateDate)
    @Html.HiddenFor(m => m.UpdateDate)
    @Html.HiddenFor(m => m.IsDelete)
    @Html.HiddenFor(m => m.IsLastDelete)

    <div class="form-horizontal">
        <hr />
        <div class="row">
            <div class="col-md-2 text-end align-self-center">
                @Html.DisplayNameFor(m => m.StartYear):
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownList("StartYears", StartYearBag, "Select Start Year", new { @class = "form-select", onchange = "funcSY();" })
                @Html.ValidationMessageFor(model => model.StartYear, "", new { @class = "text-danger" })

            </div>
            <div class="col-auto align-self-center">
                @Html.DisplayName("ถึง")
            </div>

            <div class="col-md-2">
                @Html.DropDownList("EndYears", EndYearBag, "Select End Year", new { @class = "form-select", onchange = "funcEY();" })
                @Html.ValidationMessageFor(model => model.EndYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <br />
        <div class="row">
            <div class="col-md-1"></div>
            @Html.ActionLink("ย้อนกลับ", "Index", "SEOPlans", "", new { @class = "btn btn-secondary col-md-1 m-2" })
            <input type="submit" value="แก้ไข" class="btn col-md-1 btn-success m-2" />
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
