@model MRT_Demo.Models.StrategicObjective

@{
    ViewBag.Title = "Manage";
}

<h2>การจัดการ</h2>


@using (Html.BeginForm("Manage", "Goals", FormMethod.Post, new { @class = "form-horizontal", id = "Goalform", name = "Goalform" }))
{
    @Html.HiddenFor(m => m.StrategicObjective1)
    @Html.HiddenFor(m => m.SEOPlanID)
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.CreateBy)
    @Html.HiddenFor(m => m.UpdateBy)
    @Html.HiddenFor(m => m.CreateDate)
    @Html.HiddenFor(m => m.UpdateDate)
    @Html.HiddenFor(m => m.IsDelete)
    @Html.HiddenFor(m => m.IsLastDelete)
    <div>
        <div class="row ">
            @Html.DisplayName("วัตถุประสงค์เชิงยุทธศาสตร์ (Strategic Objectives) : ")
            @Html.DisplayFor(m => m.StrategicObjective1)
        </div><br />
        <div class="offset-md-10">
            <input value="เพิ่ม" onclick="funcAddGoal()" type="button" class="btn btn-primary  col-md-8" />
        </div>
        <br />
        <div class="row">
            <div class=" offset-md-1 col-md-10">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            @Html.DisplayName("เป้าประสงค์ (Goals)")
                        </th>
                        <th>
                            @Html.DisplayName("ตัวชี้วัด (KPIs)")
                        </th>
                        <th>
                            @Html.DisplayName("ตัวจัดการ (Manage)")
                        </th>
                    </tr>
                    @Html.EditorFor(m => m.Goals)
                </table>
            </div>
        </div>
        <div class="row">
            @Html.ActionLink("Back to List", "Index", "StrategicObjectives", new { id = Model.SEOPlanID }, new { @class = "btn btn-secondary col-md-1" })
            <input type="submit" value="บันทึก" class="btn  col-md-2 btn-success" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function funcAddGoal() {
        $("#Goalform").attr("action", '@Url.Action("AddGoal","Goals")');
        $("#Goalform").submit();
    }
    function funcDeleteGoal(e) {
        e.value = true;
        $("#Goalform").attr("action", '@Url.Action("DeleteGoal","Goals")');
        $("#Goalform").submit();
    }
    function FuncAddSOEPlanIndicator(e) {
        e.value = true;
        $("#Goalform").attr("action", '@Url.Action("AddIndicator","Goals")');
        $("#Goalform").submit();
    }
    function FuncDelSOEPlanIndicator(e) {
        e.value = true;
        $("#Goalform").attr("action", '@Url.Action("DelIndicator","Goals")');
        $("#Goalform").submit();
    }
    function FuncOnChangeIndicator() {
        $("#Goalform").attr("action", '@Url.Action("Update", "Goals")');
        $("#Goalform").submit();

        }

</script>
